<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">STORE</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">STORE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Books <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li <%= if @conn.request_path == "/" || @conn.request_path == "/books", do: raw("class=\"active\"") %>><a href="/books">All</a></li>
                <li <%= if @conn.request_path == "/books/prime", do: raw("class=\"active\"") %>><a href="/books/prime">Prime</a></li>
              </ul>
            </li>

            <li <%= if @conn.request_path == "/articles", do: raw("class=\"active\"") %>>
              <a href="/articles">Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> <!-- /navigation -->

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <footer>
            <p style="color: #777777;">In case of any unresolved questions related to this site do not hesitate to <a href="mailto:shhavel@gmail.com">notify support</a>.</p>
          </footer>
        </div>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
